.landing {
    display: flex;
    flex-direction: column;
}
.landing__top {
    display: flex;
    align-items: center;
    justify-content: center;
}
.landing__left {
    height: 100%;
    width: 100%;
    display: flex;
}
.landing__left > img {
    height: 500px;
    margin: auto;
    margin-top: 80px;
}
.landing__right {
    height: 100vh;
    width: 85%;
    margin: auto;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.landing__rightOptions {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 70px;
}
.landing__rightOptionsTop {
    display: flex;
    width: auto;
    flex-direction: column;
    justify-content: space-between;

    
}
.landing__rightOptionsTop > h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 64px;
}
.landing__rightOptionsTop > h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 31px;
    margin-top: 50px;
}
.landing__rightOptionsMiddle {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-top: 20px;
}
.landing__rightOptionsMiddle > .divider {
    padding-top: 20px;
}
 button {
    height: 40px;
    display: flex;
    margin-top: 10px;
    align-items: center;
    border: 1px solid lightgray;
    background-color: white;
    border-radius: 20px;
    justify-content: center;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}
.landing__rightOptionsMiddle > .Google:hover {
    background-color: whitesmoke;
    border-color: #acdeff;
}
.landing__rightOptionsMiddle > .Apple {
    font-weight: bold;
}
.landing__rightOptionsMiddle > .Create {
    font-weight: bold;
    background-color: #1C9BF0;
    color:white;
    border: none;
}
.landing__rightOptionsMiddle > p {
    font-size: 12px;
    margin-top: 10px;
 
}
a {
    text-decoration: none;
    color: #1C9BF0;
}

.avatar {
    width: 20px !important; /* Adjust the width as needed */
    height: 20px !important; /* Adjust the height as needed */
    margin-right: 8px; /* Adjust the margin-right as needed */
}
.landing__rightOptionsBottom {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-top: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 50px;
}
.landing__rightOptionsBottom > h3 {
    font-size: 17px;
}
.landing__rightOptionsBottom > .Login {
    color: #1C9BF0;
    margin-top: 20px;
    font-weight: bold;
}
.landing__bottom {
    margin-top: 100px;
}